<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Express Lab</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
    <body>

    <header>
        <a href="/"> Welcome</a>
        |
        <a href="/car_status">Car Status</a>
        |
        <a href="/random_person">Random Person</a>
    </header>   