<%- include("../partials/header") %>

<h1>New Task</h1>

<form action="/tasks" method="POST">

  <div class="form-group">
  <label>Description</label>
    <textarea
      name="description"
      cols="60" rows="4"
      class="form-control"></textarea>
  </div>

  <input type="submit" class="btn btn-outline-primary" value="Submit">
</form>
<br>

<h1>All Tasks</h1>
<% for (let task of allTasks) {%>
    <div class="card mb-4">
        <div class="card-body">

            <h4 class="card-title">Id:
                <%= task.id %>
            </h4>

            <p class="card-text">Description:
                <%= task.body %>
            </p>
            
        </div>
    </div>
<% } %>


<%- include("../partials/footer") %>