<%- include("../partials/header") %>

<div class="card">

  <div class="card-body">
    <h4 class="card-title">Title:
      <%= note.title %>
    </h4>
    <p class="card-text">Description:
      <%= note.body %>
    </p>
  </div>
</div>

<%- include("../partials/footer") %>